html {
  background-color: #16161a;
}


/* CONTROL */

.tomControl {
  position: fixed;
  z-index: 2;
  right: 0;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
  margin-right: 0px;
}

.controlUL {
  display: flex;
  list-style: none;
}

.controlLI {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90px;
}

.ControlLabel {
  width: 70px;
}

.ControlCircle {
  width: 15px;
  height: 15px;
  border-radius: 33px;

  transition-property: background-color;
  transition-duration: 0.5s;
}
